/* Menu */
/*#menu ul {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #3d4449;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    letter-spacing: 0.075em;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase; }
    #menu ul a, #menu ul span {
      border-bottom: 0;
      color: inherit;
      cursor: pointer;
      display: block;
      font-size: 0.9em;
      padding: 0.625em 0; }
      #menu ul a:hover, #menu ul span:hover {
        color: #f56a6a; }
      #menu ul a.opener, #menu ul span.opener {
        -moz-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        position: relative; }
        #menu ul a.opener:before, #menu ul span.opener:before {
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          text-transform: none !important;
          font-family: 'Font Awesome 5 Free';
          font-weight: 900; }
        #menu ul a.opener:before, #menu ul span.opener:before {
          -moz-transition: color 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
          -webkit-transition: color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
          -ms-transition: color 0.2s ease-in-out, -ms-transform 0.2s ease-in-out;
          transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
          color: #9fa3a6;
          content: '\f078';
          position: absolute;
          right: 0; }
        #menu ul a.opener:hover:before, #menu ul span.opener:hover:before {
          color: #f56a6a; }
        #menu ul a.opener.active + ul, #menu ul span.opener.active + ul {
          display: block; }
        #menu ul a.opener.active:before, #menu ul span.opener.active:before {
          -moz-transform: rotate(-180deg);
          -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          transform: rotate(-180deg); }
  
  #menu > ul > li {
    border-top: solid 1px rgba(210, 215, 217, 0.75);
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0; }
    #menu > ul > li > ul {
      color: #9fa3a6;
      display: none;
      margin: 0.5em 0 1.5em 0;
      padding-left: 1em; }
      #menu > ul > li > ul a, #menu > ul > li > ul span {
        font-size: 0.8em; }
      #menu > ul > li > ul > li {
        margin: 0.125em 0 0 0;
        padding: 0.125em 0 0 0; }
    #menu > ul > li:first-child {
      border-top: 0;
      margin-top: 0;
      padding-top: 0; }*/
      .select-box{
        margin-top: 150px;
        width: 380px;
        position: relative;
      }
      .select-option{
        position: relative;
      }
      .select-option input{
        width:100%;
        background-color:#fff;
        color:#000;
        border-radius: 7px;
        cursor: pointer;
        font-size: 22px;
        padding: 15px 20px;
        border: 0!important;
        outline: 0 !important;
      }
      .select-option:after{
        content:"";
        border-top: 12px solid #000;
        border-left:5px solid transparent;
        border-right: 8px solid transparent;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -8px;
      }
      .content{
        background-color:antiquewhite;
        position: absolute;
        color: #000;
        border-radius: 7px;
        margin-top: 15px;
        width: 100%;
        z-index: 999;
        padding: 20px;
        display:none;
      }
      .search input{
        width:100%;
        font-size: 17px;
        padding: 20px;
        outline: 0;
        border:1px solid #b3b3b3;
        border-radius: 5px;
      }
      .options{
        margin-top: 10px;
        max-height: 250px;
        overflow-y: auto;
        padding: 0;
      }
      .options li{
        padding: 5px 10px;
        font-size: 20px;
        cursor:pointer;
        border-bottom: 1px solid gray;
      }
      .options li:hover{
        background-color: #f2f2f2;
      }
      .select-box.active .content{
        display:block;
      }
      .select-box.active .select-option:after{
        transform:rotate(-180deg);
      }
      .section1{
        position: relative;
      }





  